/* Task-1 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    color: red;
}
.container{
    padding: 20px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
}
span{
    padding: 10px;
}
/* Task-2 */
.container-1{
    padding: 10px;
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-around;
    text-align: center;
    border-radius: 20px;
}
.item-g{
    background-color: gray;
    border: 1px solid gray;
    border-radius: 10px;
}
.container-2{
    display: flex;
    justify-content: center;
    
    
}
.item-01{
    background-color: lime;
    padding: 10px;
    border-radius: 10px;
}
.item-01 .bi{
    margin: 10px;
}
.item-02{
    background-color: red;
    padding: 10px;
    border-radius: 10px;
    color: white;
}
.p{
    display: inline-block;
}
/* Task-3 */
.container-3{
    display: flex;
    background-color: black;
    color: white;
    padding: 20px;
    justify-content: space-evenly;
}