*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.container>.item>img{
    object-fit: cover;
    width: 100%;
    display: block;
}
.item{
    position: relative;
}
p{
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    color: white;
    z-index: 999;
}